#gcButtonPref {
  list-style-image: url("chrome://guiconfig/skin/icons/icon.16.png");
}

#gcButtonPref[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #gcButtonPref {
  list-style-image: url("chrome://guiconfig/skin/icons/icon.32.png");
}

@media (min-resolution: 2dppx) {

#gcButtonPref {
  list-style-image: url("chrome://guiconfig/skin/icons/icon.32.png");
}

#gcButtonPref[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #gcButtonPref {
  list-style-image: url("chrome://guiconfig/skin/icons/icon.64.png");
}

}
