#gcButtonPref {
	list-style-image: url("chrome://guiconfig/skin/icons/icon.24.png");
}

#gcButtonPref[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #gcButtonPref {
  list-style-image: url("chrome://guiconfig/skin/icons/icon.32.png");
}

#toolbar-menubar #gcButtonPref,
toolbar[iconsize="small"] #gcButtonPref {
	list-style-image: url("chrome://guiconfig/skin/icons/icon.16.png");
}
