#gcConfigWindow {
	padding: 0px;
}

#gcConfigWindow .gcPrefPane {
	padding: 8px;
}

#gcConfigWindow .dialog-button-box {
	margin: 0px 8px 8px;
}

#gcConfigWindow .optionRow {
	margin: 1px 0px;
}

#gcConfigWindow .optionRow colorpicker {
	max-height: 24px;
	margin-top: 4px;
}

#gcConfigDescription {
	background: #fff;
	border: 1px solid #999999;
	padding: 5px !important;
	font-size: 1em;
	height: 5em;
	margin: 0px 8px 8px;
}

#gcConfigWindow .optionLabel {
	padding: 0.5em 0em;
}

#gcConfigWindow .hOptions {
	float: right;
}