#guiconfig-open-preferences {
  list-style-image: url("chrome://guiconfig/skin/icons/icon.16.png");
}

#guiconfig-open-preferences[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #guiconfig-open-preferences {
  list-style-image: url("chrome://guiconfig/skin/icons/icon.32.png");
}

@media (min-resolution: 2dppx) {

#guiconfig-open-preferences {
  list-style-image: url("chrome://guiconfig/skin/icons/icon.32.png");
}

#guiconfig-open-preferences[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #guiconfig-open-preferences {
  list-style-image: url("chrome://guiconfig/skin/icons/icon.64.png");
}

}
