description {
  background: #fff;
  border: 1px solid #999999;
  padding: 5px !important;
  font-size: 1em;
  height: 5em;
  margin: 0px 8px 8px;
}

#guiconfig-preference-search textbox {
  margin: 8px 8px 0 8px;
}
