prefwindow.gcprefwindow {
	-moz-binding: url('chrome://guiconfig/content/bindings/preferences.xml#gcprefwindow');
}

box.gcpreference {
  -moz-binding: url('chrome://guiconfig/content/bindings/preferences.xml#gcpreference');
}

box.gcsearchresult {
  -moz-binding: url('chrome://guiconfig/content/bindings/preferences.xml#gcsearchresult');
}

box.filepicker {
  -moz-binding: url('chrome://guiconfig/content/bindings/preferences.xml#filepicker');
}

.highlight {
  animation: highlight 1s;
}

@keyframes highlight {
  0%   { background: transparent; }
  50%  { background: red; }
  100% { background: transparent; }
}

groupbox description {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}
