prefwindow.gcprefwindow {
	-moz-binding: url('chrome://guiconfig/content/bindings/preferences.xml#gcprefwindow');
}

page.gcpage {
	-moz-binding: url('chrome://guiconfig/content/bindings/preferences.xml#gcpage');
}

box.gcpreference {
  -moz-binding: url('chrome://guiconfig/content/bindings/preferences.xml#gcpreference');
}

box.gcsearchresult {
  -moz-binding: url('chrome://guiconfig/content/bindings/preferences.xml#gcsearchresult');
}

box.filepicker {
  -moz-binding: url('chrome://guiconfig/content/bindings/preferences.xml#filepicker');
}

.highlight {
  animation: highlight 1s;
}

@keyframes highlight {
  0%   { background: transparent; }
  50%  { background: red; }
  100% { background: transparent; }
}

groupbox description {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}

.main-content {
  /* NOTE: Weird behavior
   * overflow: auto in chrome://global/skin/in-content/common.css
   * causes colorpicker popup inside .main-content to not be selectable
   * with a left mouse click */
  overflow: visible;
}

.header.merged {
  border-bottom: none;
  padding-bottom: 0;
}

.category-browser > .category-icon {
  list-style-image: url("chrome://guiconfig/skin/icons/categories/browser.png");
}

.category-content > .category-icon {
  list-style-image: url("chrome://guiconfig/skin/icons/categories/content.png");
}

.category-input > .category-icon {
  list-style-image: url("chrome://guiconfig/skin/icons/categories/input.png");
}

.category-style > .category-icon {
  list-style-image: url("chrome://guiconfig/skin/icons/categories/style.png");
}

.category-tabs > .category-icon {
  list-style-image: url("chrome://guiconfig/skin/icons/categories/tabs.png");
}

.category-network > .category-icon {
  list-style-image: url("chrome://guiconfig/skin/icons/categories/network.png");
}

.category-developing > .category-icon {
  list-style-image: url("chrome://guiconfig/skin/icons/categories/developing.png");
}

.category-search > .category-icon {
  list-style-image: url("chrome://guiconfig/skin/icons/categories/search.png");
}

